# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.cache

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Python virtual env
.venv/

# AWS credentials
*.pem
*.ppk
